<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deagenstroup.agendaassistant">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/to_do_list_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/to_do_list_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.deagenstroup.agendaassistant.service.TaskAlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name="com.deagenstroup.agendaassistant.service.TaskManagerService"
            android:exported="true" />

        <activity
            android:name="com.deagenstroup.agendaassistant.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7446783952765744~8896349916" />
    </application>

</manifest>